body {
    font-family: Arial;
    font-size: 14px;
    color: rgb(66, 70, 76);
}

.project-title {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    font-weight: bold;
    font-size: 1.2em;
}

.action-title {
}

.action {
    margin-bottom: 1em;
}

.items {
    margin-left: 20px;
}

.description {
    font-size: small;
    margin-left: 12px;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

.project {
    margin-bottom: 1.5em;
}